<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__CSS__/addGoods.css">
</head>
<body>
	<table id="addGoods" colspan="12">
		<form action="{:url('index/index/addGoodsDeal')}" id="addF">
			<tr>
				<td colspan="5">货物号</td>
				<td colspan="7"><input type="text" name="goodsId" ></td>
			</tr>
			<tr>
				<td colspan="5">货物名称</td>
				<td colspan="7"><input type="text" name="goods" ></td>
			</tr>
			<tr>
				<td colspan="5">种类</td>			
				<td colspan="7"><input type="text" name="type" ></td>
			</tr>
			<tr>
				<td colspan="12"><input type="submit" value="提交"></td>
			</tr>
		</form>
	</table>
</body>
</html>